kotlin-native/samples/fullstack/clients/android/Kotlin3dArm32
kotlin-native/samples/fullstack/clients/android/Kotlin3dArm64
.DS_Store
build
.gradle
.idea
*.iml
!gradle-wrapper.jar
*.klib
*.kexe
*.kt.bc
*.dSYM
*.klib-build
cmake-build-*
